@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

:root {
    --cor-de-fundo:#F0EBE3;
    --cor-header: #E4DCCF;;
    --branco: #ffffff;
    --preto: #000000;
    --verde-destaque: #7D9D9C;
    --verde-destaque-hover: #7d9d9c9a;
    --fonte-principal:'Poppins', sans-serif;

}

* {
    box-sizing: border-box;
}

body {
    background-image: url('../assets/backgroundlogin.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: var(--fonte-principal);
    height: 100%;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 100px;
}

.login__img {
    transition: 0.3s ease;
}

.login__img:hover {
    padding: 2px;
    transition: 0.3s;
}

.login {
    margin-top: -60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}



.search__bar__input__user {
    width: 293px;
    height: 50px;    
    border-radius: 30px;
    background: var(--cor-header);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
    font-family: var(--fonte-principal);
    font-weight: 400;
}

.search__bar__input__user::placeholder {
    color: var(--preto);
    display: flex;
    text-align: center;
    margin-left: -30px;
    width: 74%;
    background: url('../assets/image\ 5.png');
    background-repeat: no-repeat;
    background-position: 25px;
}

.search__bar__input__password {
    width: 293px;
    height: 50px;    
    border-radius: 30px;
    background: var(--cor-header);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
    font-family: var(--fonte-principal);
    font-weight: 400;
}

.search__bar__input__password::placeholder {
    color: var(--preto);
    display: flex;
    text-align: center;
    margin-left: -30px;
    width: 50%;
    background: url('../assets/image\ 6.png');
    background-repeat: no-repeat;
    background-position: 28px;
}

.forget__password {
    font-size: 12px;
    margin-left: 200px;
    margin-top: 15px;
    color: grey;
}

.forget__password__link {
    text-decoration: none
}

.login__button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login__button__click {
    margin-top: 40px;
    width: 233px;
    height: 47px;
    border-radius: 30px;
    background: #7D9D9C;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    font-weight: 500;
    font-family: var(--fonte-principal);
    color: var(--preto);
}

.create {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    font-size: 14px;
}
.create__strong {
    text-decoration: none;
    color: var(--preto);
    margin-left: 2px;
}